* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: rgb(5, 27, 48);
}

.card {
    width: 20rem;
    height: 25rem;
    background-color: rgb(96, 229, 229);
    color: white;
    border-radius: 1rem;
    padding: 0.6rem;
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: -2px -2px 25px 2px rgb(57, 57, 57);
}

.card > img {
    width: 100%;
    height: 78%;
    object-fit: cover;
    border-radius: 1rem;
}