@import "tailwindcss";

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background-color: oklch(71.2% 0.194 13.428);
    border-radius: 9999px;
}

::-webkit-scrollbar-thumb {
    background-color: oklch(81% 0.117 11.638);
    border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
    background: oklch(89.2% 0.058 10.001);
}